
BlazorPokedex.Client/bin/Debug/net5.0/BlazorPokedex.Client.dll
BlazorPokedex.Client/bin/Debug/net5.0/BlazorPokedex.Client.pdb
/BlazorPokedex.Client/bin
/BlazorPokedex.Client/obj
/BlazorPokedex.Models/bin
/BlazorPokedex.Models/obj
/BlazorPokedex.Services/bin
/BlazorPokedex.Services/obj